.input-autocomplete {
  max-width: 400px;
  position: relative;

  .input {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 46px;
    gap: 4px;
    padding: 7px 9px;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    background-color: rgba(229, 249, 255, 0.2);
    transition: all 0.2s ease;

    &.focus {
      border: 1px solid #1991d2;
    }

    .item {
      border: 1px solid #dcdcdc;
      background: #f0f4f8;
      border-radius: 4px;
      color: #627d98;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 3px 8px;

      img {
        cursor: pointer;
      }
    }

    input {
      flex: 1;
      border: none !important;
      outline: none !important;
      background-color: transparent;
      max-width: calc(100% - 28px);
      height: 24px;

      &::placeholder {
        color: #bfbfbf;
      }
    }
  }

  .dropdown {
    position: absolute;
    top: calc(100% + 2px);
    width: 100%;
    padding: 4px 0;
    border-radius: 4px;
    background-color: #f1f5f8;
    box-shadow: 0px 1px 8px 0px rgba(102, 102, 102, 0.25);
    list-style: none;
    margin: 0;
    max-height: 176px;
    overflow-y: auto;
    transition: all 0.2s ease-in-out;
    animation: fadeIn 0.5s ease forwards;
    z-index: 1;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: #f0f0f0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #dcdcdc;
      border-radius: 3px;
    }

    li {
      padding: 10px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: white;
        background-color: #617d98;
      }

      &.active {
        color: #617d98;
        background-color: #e5f0f9;

        &:hover {
          color: white;
          background-color: #617d98;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
